//  header
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  //  logo
  .__logo {
    background-color: red;
  }

  // menu items
  .menu-items {
    list-style: none;

    // item
    .__menu__item {
      text-decoration: none;
      padding: 0.5rem;
      transition: background 0.3s ease-in-out;

      &:hover {
        background-color: green;
      }
    }
  }

  //  menu btn
}
