#work {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    z-index: 12;
  }
  .title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 5rem;
    font-size: 2.8rem;
    color: $very-light-gray;
  }
  .subtitle {
    text-align: center;
    font-size: 1.5rem;

    padding: 1rem;
    margin-bottom: 5rem;
  }
}
