@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Karla', sans-serif; }

@media screen and (min-width: 1044px) {
  .header .menu {
    display: block; }
  .header .btn-menu {
    display: none; }

  #work {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
    #work .text {
      text-align: left;
      margin: 4.5rem; }
      #work .text .title {
        margin: 1rem 0 1.5rem; }
      #work .text .subtitle {
        padding: 1rem 3rem 1.5rem 0; }
      #work .text .btn {
        margin-top: 2rem;
        width: 25%; }

  #blog .cards-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

  #insure {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; } }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem; }
  .header .btn-menu img {
    cursor: pointer; }
  .header .menu {
    display: none; }
    .header .menu .__items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none; }
      .header .menu .__items .__item {
        margin: 0.5rem;
        align-items: center; }
        .header .menu .__items .__item a {
          text-decoration: none;
          text-transform: uppercase;
          color: #2d2640;
          font-size: 1.3rem; }

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  background-color: #2d2640; }
  #work .text {
    text-align: center; }
    #work .text .title {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #fafafa;
      margin-top: 5rem; }
    #work .text .subtitle {
      font-size: 1.2rem;
      color: #fafafa;
      padding: 1rem 2rem 3rem;
      line-height: 1.6; }
    #work .text .btn {
      margin-bottom: 6rem;
      padding: 0.8rem;
      background-color: #2d2640;
      color: #fafafa;
      text-transform: uppercase;
      font-size: 1.2rem;
      outline-style: none;
      width: 40%;
      font-weight: 700;
      cursor: pointer; }
      #work .text .btn:hover, #work .text .btn:active {
        color: #2d2640;
        background-color: #fafafa;
        transition: all 0.2s ease-in-out; }
  #work img {
    width: 100%; }

#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #blog .title {
    font-size: 2.8rem;
    color: #2b272f;
    margin-bottom: 2rem; }
  #blog .cards-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none; }
    #blog .cards-group .__card {
      text-align: center;
      padding: 1.5rem; }
      #blog .cards-group .__card i {
        background-color: #95a9c6;
        color: #fafafa;
        padding: 2rem;
        border-radius: 50%;
        font-size: 2rem;
        margin-bottom: 1.5rem; }
      #blog .cards-group .__card .__title {
        color: #2b272f;
        font-size: 2rem; }
      #blog .cards-group .__card .__info {
        color: #837d87;
        padding: 1rem; }

#account {
  background-color: #2d2640;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem; }
  #account .title {
    font-size: 2.5rem;
    text-align: center;
    padding: 1.5rem 5.5rem; }
  #account .btn {
    padding: 0.8rem;
    background-color: #2d2640;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 1.2rem;
    outline-style: none;
    font-weight: 700;
    margin: 1rem 0;
    cursor: pointer; }
    #account .btn:hover, #account .btn:active {
      color: #2d2640;
      background-color: #fafafa;
      transition: all 0.2s ease-in-out; }

#insure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  border-bottom: 1px solid #e1e1e1; }
  #insure .img__title {
    margin: 2rem; }
  #insure .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; }
    #insure .social-icons .__icon {
      margin: 1rem; }
      #insure .social-icons .__icon img {
        cursor: pointer; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; }
  .footer .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase; }
    .footer .list .title {
      color: #837d87;
      font-size: 1.2rem;
      margin: 2rem 0;
      cursor: pointer; }
    .footer .list .subtitle {
      color: #2d2640;
      padding: 0.5rem;
      cursor: pointer; }

@media screen and (min-width: 1044px) {
  .header .menu {
    display: block; }
  .header .btn-menu {
    display: none; }

  #work {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
    #work .text {
      text-align: left;
      margin: 4.5rem; }
      #work .text .title {
        margin: 1rem 0 1.5rem; }
      #work .text .subtitle {
        padding: 1rem 3rem 1.5rem 0; }
      #work .text .btn {
        margin-top: 2rem;
        width: 25%; }

  #blog .cards-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

  #insure {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; } }

/*# sourceMappingURL=main.css.map */
