@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Karla', sans-serif; }

/* overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100vw); }

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0); }

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw); }

/* --- Sections --- */
section {
  width: 100%;
  height: 95vh;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 6rem; }

header {
  background-color: #fafafa;
  position: top;
  /* --- Menu Bars ------------------------------------ */ }
  header .logo {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    background-color: transparent; }
    header .logo .__title {
      color: #2b272f;
      font-size: 1.5rem;
      text-transform: uppercase; }
  header .menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
    background-color: transparent; }
    header .menu-bars .bar1,
    header .menu-bars .bar2,
    header .menu-bars .bar3 {
      width: 2.2rem;
      height: 2px;
      color: white;
      margin: 5px 0;
      transition: 0.4s;
      background-color: #2b272f; }

.nav,
.nav__list {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white; }
  .nav .nav__list,
  .nav__list .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none; }
    .nav .nav__list .__item,
    .nav__list .nav__list .__item {
      height: 20%;
      overflow: hidden; }
      .nav .nav__list .__item a,
      .nav__list .nav__list .__item a {
        position: relative;
        top: 45%;
        color: #2b272f;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        display: block;
        text-align: center; }
        .nav .nav__list .__item a:hover,
        .nav__list .nav__list .__item a:hover {
          transform: scale(1.2);
          transition: all 0.2s ease-in-out; }

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 4px); }

/* Fade out the second bar */
.change .bar2 {
  opacity: 0; }

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -5px); }

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2640;
  margin: 11rem 0;
  height: 100vh; }
  #work img {
    width: 100%;
    margin-bottom: 3rem; }
  #work .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #fafafa; }
  #work .subtitle {
    margin: 2rem;
    text-align: center;
    font-size: 1.3rem;
    padding: 0 2.2rem;
    color: #fafafa;
    line-height: 1.3; }
  #work .btn {
    margin-bottom: 8rem;
    border: none;
    padding: 0.8rem;
    background-color: #2d2640;
    color: #fafafa;
    border: #fafafa 1px solid;
    text-transform: uppercase;
    font-size: 1.2rem; }

/*# sourceMappingURL=main.css.map */
